nav#sidenavAccordion.sb-sidenav.accordion([ngClass]='sidenavStyle')
    .sb-sidenav-menu
        .nav
            ng-container(*ngFor='let section of sideNavSections')
                .sb-sidenav-menu-heading(*ngIf='section.text') {{ section.text }}
                ng-container(*ngFor='let item of section.items')
                    sb-side-nav-item(
                        [sideNavItem]='sideNavItems[item]'
                    )
    .sb-sidenav-footer
        div(*ngIf='userService.user$ | async as user')
            div(*ngIf='user.isLogin; then loginSec else notLoginSec')
            ng-template(#loginSec)
                .small Logged in as:
                span
                    | {{user.firstName}} {{user.lastName}}
            ng-template(#notLoginSec)
                span Not login in.
